.boxContainer {
    width: 100%;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

.headerWrapper {
    position: relative;
    width: 100%;
}

.contentWrapper {
    position: relative;
}