.studentBlock {
    width: 300px;
    height: 90px;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #D4D2D2;
    
    &:hover {
        border-color: #7a7a7a;
    }

    img {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
}